<div class="container">
  <h1>Url Shortener</h1>
  <form action="/urls" method="post">
    <input type="text" name="url" value="http://"></input>
    <input type="submit" value="Get Short!"></input>
  </form>
</div>
