<h1>Here are your URLs<h1>
<h2>Url Shortener</h2>
  <form action="/user/url" method="post">
    <input type="text" name="url" value="http://"></input>
    <input type="submit" value="Get Short!"></input>
  </form>
